.locationInfo {
    background-color: #062226;
    color: white;
    margin: 44px;
}

.locationInfo__name {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

.locationInfo__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locationInfo__list {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word ;
}

@media (max-width: 430px) {
    .locationInfo__list {
        font-size: 11px;
        margin-left: 5px;
        margin-right: 5px;
    }
    }


.locationInfo__item  span {
    font-weight: bold;
    color: rgb(165, 158, 150);
    display: block;
}
