.residentList {
    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 1400px;
}

